<div class="container mt-4">
  <div class="row">
    <div class="col-md-12">
      <h5>Create a new invoice</h5>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= form_with(model: @invoice) do |form| %>
        <div class="form-group">
          <%= form.label :number %>
          <label for="exampleInputEmail1">Email address</label>
          <%= form.text_field :number, placeholder: 'Invoice Number', class: 'form-control' %>
        </div>
        <br>
        <%= form.submit 'Submit', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>